body {
    font-family: 'Georgia', serif;
    text-align: center;
    background: #f0f4ff; /* azul muy claro de fondo */
}

.certificado {
    border: 10px solid #1E3A8A; /* azul principal */
    padding: 40px;
    margin: 50px auto;
    width: 80%;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(30, 58, 138, 0.4); /* sombra azul */
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1E3A8A; /* azul principal */
    text-transform: uppercase;
}

.texto {
    font-size: 18px;
    margin: 20px 0;
    color: #333;
}

.texto b {
    color: #1E3A8A; /* resaltar nombres y datos en azul */
}

.footer {
    margin-top: 40px;
    font-size: 12px;
    font-style: italic;
    color: #555;
    border-top: 1px solid #1E3A8A;
    padding-top: 10px;
}