/* Fondo del header */
.navbar{
  background-color: #1E3A8A;
}

.navbar a{
  color: white;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

/* Fondo del menú desplegable */
.dropdown-menu{
  background-color: #1E3A8A !important;  /* Fuerza el color */
  border: none;
}

/* Botón del dropdown */
.dropdown .btn{
  color: white;
}

.dropdown .btn:hover{
  color: #ffffff;
}

.dropdown:hover{
  color: #ffffff;
}

/* Items del dropdown */
.dropdown-menu a{
  color: white !important;
}

/* Hover en los items */
.dropdown-menu a:hover{
  background-color: #85a6ff !important;
  color: #ffffff !important;
}

/* ====== FOOTER ====== */
footer {
  background-color: #212529;
  color: #fff;
  padding: 15px 0;
}

@media (max-width: 991px) {
  .navbar-nav .nav-item {
    display: block;
    text-align: left;
  }

  .navbar .btn {
    width: auto;
    margin: 5px 0;
  }
  
  .navbar-nav .nav-link,
  .navbar-nav .dropdown-toggle,
  .navbar-nav .nav-item {
    margin-left: 0 !important;
  }
}