<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/estilos/estilosHF.css">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow">
        <div class="container">
            <a class="navbar-brand fw-bold" href="index.php">QuizApp SST</a>

            <!-- Botón para móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Enlaces de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <a class="nav-link" href="index.php">Inicio</a>
                </li>
                <li class="nav-item">
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Temas
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="seguridad.html">Seguridad y Salud en el Trabajo</a></li>
                    <li><a class="dropdown-item" href="medioAmbiente.html">Medio Ambiente</a></li>
                    <li><a class="dropdown-item" href="habitosSaludables.html">Hábitos Saludables</a></li>
                  </ul>
                </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="index.php#puntajes">Puntajes</a>
                </li>
                 <!-- Botones de login y registro -->
                <li class="nav-item ms-3" id="login-area">
                    <a class="btn btn-outline-light btn-sm" href="login.html">Iniciar Sesión</a>
                    <a class="btn btn-light btn-sm text-primary ms-2" href="registro.html">Registrarse</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</body>
</html>